# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Entornos virtuales
venv/
env/
ENV/
.venv/

# Archivos temporales
*.log
*.tmp
*.bak
.DS_Store
Thumbs.db

# Archivos de usuario
empleados.json
plantilla_empleados.xlsx
*.csv
*.pdf
*.png
